NODE_ENV=production
PORT=3100
NEXT_PUBLIC_API_BASE=/api
NEXT_PUBLIC_STAFF_PAYROLL_APP_URL=https://staff.hiddenoasis.app
NEXT_PUBLIC_OPERATIONS_APP_URL=https://operations.hiddenoasis.app
NEXT_PUBLIC_POS_APP_URL=https://pos.hiddenoasis.app
